@font-face {
	font-family: AdiBold;
	src: url("../assets/fonts/adineuePRO-Bold.ttf");
}
@font-face {
	font-family: AdiLight;
	src: url("../assets/fonts/adineuePRO-Regular.ttf");
}
@font-face {
	font-family: AdiHausB;
	src: url("../assets/fonts/AdihausDIN-Bold.ttf");
}
@font-face {
	font-family: AdiHausL;
	src: url("../assets/fonts/AdihausDIN-Regular.ttf");
}
